<% include components/pageHeader %>

	<div class="row">
		<div class="col-sm-6 col-sm-offset-3">
			<p id="edit-task-instructions">
				Edit your task
			</p>

			<form action='/EditTask/<%=task._id%>' method="POST">

				<div class="form-group">
					<input type="text" class="form-control" id='task-text' name='task-text' value="<%=task.text%>" required autofocus> 
				</div>

				<div class="form-group">
					<label class="radio-inline">
						<input type="radio" id="task-when" name="task-when" value="today" <% if (todayIsfull) { %>disabled<%} else {%><%if (task.isDueToday) {%>checked<%}%><%}%>> Today
					</label>
					<label class="radio-inline">
						<input type="radio" id="task-when" name="task-when" value="tomorrow" <%if (task.isDueTomorrow) {%>checked<%}%>> Tomorrow
					</label>
					<label class="radio-inline">
						<input type="radio" id="task-when" name="task-when" value="some-other-time" <%if (task.isDueSomeOtherTime) {%>checked<%}%>> Some other time
					</label>
				</div>

				<div class="form-group">
					<div class="input-group input-group-sm">
						<span class="input-group-addon">Some Other Time:</span>
						<input type="date" class="form-control" id='task-duedate' name='task-duedate' value="<%if (task.dueDateFormatted) {%><%=task.dueDateFormatted%><%}%>"> 
					</div>
				</div>

				<div class="form-group">
					<div class="input-group input-group-sm">
						<span class="input-group-addon">Tags</span>
						<input type="text" class="form-control" id='task-tags' name='task-tags' value="<%=tags%>"> 
					</div>
				</div>

				<% if(commonTags.length > 0) {%>
					<p>Common tags: 
					<% for (var tag_i = 0; tag_i < commonTags.length; tag_i ++) { %><% if (tag_i > 0) { %>, <%}%><a class="tag"><%=commonTags[tag_i].text%></a><%}%>
					</p>
				<%}%>

				<div class="form-group">
					<button type="submit" class="btn btn-default">Edit Task</button>
				</div>
			</form>
		</div>
	</div>
	<script src="/js/tag-selection-populates-tags-input.js"></script>
	


<% include components/pageFooter %>