<% include components/pageHeader %>

	<div class="row">
		<div class="col-md-8 col-md-offset-2">

			<% if (infoBox) { %>

				<div id="info-box" class="alert <%=infoBox.class%> fade in" data-dismiss="alert" aria-hidden="true">
					<%=infoBox.text%>
					<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
				</div>

			<% } %>
		
			<% if (openTasks.length > 0) { %>

				<% for (var i = 0; i < openTasks.length; i++) { %>
					<div class='task task-open' data-task-id='<%=openTasks[i]._id%>'>
						<h2>
							<%=openTasks[i].text%>
						</h2>
						<p>
							<a class="btn btn-success done-task btn-xs" href="/DoneTask/<%=openTasks[i]._id%>"role="button"> <span class="glyphicon glyphicon-check"></span> Done</a>

							<a class="btn btn-default not-today-task btn-xs" href="/NotTodayTask/<%=openTasks[i]._id%>"role="button"> <span class="glyphicon glyphicon glyphicon-calendar"></span> Not Today</a>

							<a class="btn btn-default edit-task btn-xs" href="/EditTask/<%=openTasks[i]._id%>"role="button"> <span class="glyphicon glyphicon glyphicon-edit"></span> Edit</a>

							<a class="btn btn-default delete-task btn-xs" href="/DeleteTask/<%=openTasks[i]._id%>" role="button"><span class="glyphicon glyphicon-trash"></span></a>
						</p>
					</div>
				<% } %>

			<% } else { %>

				<h2 id="no-current-tasks">
					Oh sweet, you currently have no tasks to do.
				</h2>

			<% } %>

			<p style="text-align: center">
				<a class="btn btn-success btn-lg btn-block" href="/NewTask" role="button">Add New Task</a>
			<p>

		</div>
	</div>


	<div class="row">
	  <div class="col-md-6">

		<div class="panel panel-default">
		  <div class="panel-heading">
		    <h3 class="panel-title">To Do Some Other Time</h3>
		  </div>
		  <div class="panel-body">

				<% for (var i = 0; i < notTodayTasks.length; i++) { %>
					<div class='task task-not-today' data-task-id='<%=notTodayTasks[i]._id%>'>
						<h2>
							<%=notTodayTasks[i].text%>
						</h2>
						<p>
							<a class="btn btn-default delete-task btn-xs" href="/DeleteTask/<%=notTodayTasks[i]._id%>" role="button"><span class="glyphicon glyphicon-remove-circle"></span></a>
						</p>
					</div>
				<% } %>

				<% if (notTodayTasks.length == 0) { %>
					<p>Nothing here.</p>
				<% } %>
		  </div>
		</div>

	</div>

	<div class="col-md-6">
		<div class="panel panel-default">
		  <div class="panel-heading">
		    <h3 class="panel-title">Done!</h3>
		  </div>
		  <div class="panel-body">

			<% for (i = 0; i < doneTasks.length; i++) { %>
				<div class='task task-done' data-task-id='<%=doneTasks[i]._id%>'>
					<h2>
						<%=doneTasks[i].text%>
					</h2>
				</div>
			<% } %>

		  </div>
		</div>
	</div>
</div>


<% include components/pageFooter %>