<% if (notTodayTasks.length > 0) { %>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Some Other Time</h3>
  </div>
  <div class="panel-body">

  	<% if (notTodayTags.length > 0) { %>
  	<p>
  		Filter: <a class="tag-filter btn btn-primary btn-xs" data-tag-clear="true">No filter</a>
  		<%for (var i = 0; i < notTodayTags.length; i++) {%> 
  			<a class="tag-filter btn btn-default btn-xs" data-tag-value="<%=notTodayTags[i]%>"><%=notTodayTags[i]%></a>
  		<%}%>
  	</p>

  	<% }%>

		<% notTodayTasks.forEach(function(task, i){ %>
			<div class='task task-not-today' data-tags="<% 
			if (task.tags) {
				task.tags.forEach(function(tag, i){
					%><%=tag.text%> <%
				});
			}
			%>" data-i="<%=i%>" data-task-id='<%=task._id%>'>
				<% 	include task-todo %>
			</div>
		<% }) %>
  </div>
</div>


<script src="/js/filter-by-tag.js"></script>

<% } %>